body {
  background: #f4f4f8;
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

main {
  width: 600px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px #0002;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

button {
  background: #21df8d;
  border: none;
  padding: 10px 15px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #19b672;
}

pre {
  background: #222;
  color: rgb(252, 163, 252);
  padding: 15px;
  border-radius: 5px;
  overflow-x: auto;
  font-size: 14px;
}
